@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600&family=Poppins:wght@300;400&family=Roboto&display=swap");
body {
  margin: 0;
  background-color: #202020;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FEDA4E;
}

footer {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Asap', Arial, sans-serif;
  font-weight: 400;
  font-size: .8em;
}

footer a {
  text-decoration: underline;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.8em;
  width: 100%;
  margin: auto;
}

.home h1 {
  font-family: 'Asap', Arial, sans-serif;
  font-weight: 600;
}

.home h1 span {
  color: #FEDA4E;
}

.home .nav {
  font-family: 'Asap', Arial, sans-serif;
  font-weight: 400;
}

.home .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .nav ul .active {
  color: #FEDA4E;
  border-bottom: 2px solid #f3dc48d8;
}

.home .nav ul li {
  list-style: none;
  margin-top: 1em;
  padding: 0em .6em;
  font-size: .9em;
}

.home .socials {
  margin: 1.6em 0 0;
}

.home .socials img {
  margin: 0 3px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 1.3em;
}

.introduction {
  text-align: center;
  margin-top: 2em;
}

.introduction img {
  width: 35%;
  height: 10.5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 0%;
     object-position: 35% 0%;
  border-radius: 60%;
  -webkit-box-shadow: 0px 0px 5px 10px #f3dc48d8;
          box-shadow: 0px 0px 5px 10px #f3dc48d8;
}

.introduction h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #FEDA4E;
}

.introduction p {
  margin-top: -1.2em;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: .9em;
}

.whatido {
  background-color: #272727;
  text-align: center;
  margin-top: 2em;
}

.whatido h1 {
  padding-top: 1em;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.whatido .whatido-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatido .whatido-cards .card {
  color: #202020;
  background-color: #FEDA4E;
  margin: .5em 1em 2.5em;
  width: 45vw;
  border-radius: 1em;
}

.whatido .whatido-cards .card img {
  margin-top: 2em;
  width: 4em;
}

.whatido .whatido-cards .card h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: -.8em;
}

.whatido .whatido-cards .card p {
  padding: 10px .8em;
  margin: -.8em auto 2em;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-size: .8em;
  text-align: center;
  width: 80%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
  margin-bottom: 3em;
  gap: .7em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about img {
  width: 50%;
  margin-top: 1.4em;
}

.about .side h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: #FEDA4E;
  position: relative;
}

.about .side h1::before {
  content: " ";
  position: absolute;
  width: 15%;
  bottom: -2px;
  border-bottom: 2px solid #FEDA4E;
}

.about .side p {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}

.about .side .stack img {
  margin: -.2em .2em .5em;
  width: 1.7em;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.about .side button {
  background-color: #FEDA4E;
  border: none;
  border-radius: .5em;
  padding: .6em;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: #202020;
}

.about .side button:hover {
  cursor: pointer;
  color: white;
}

.contact {
  background-color: #272727;
  margin: auto;
}

.contact form .form-table {
  margin: 1em auto;
  padding-bottom: 2em;
}

.contact form .form-table th {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #FEDA4E;
  font-size: 2em;
  margin-bottom: .5em;
}

.contact form .form-table input {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5em 0 0;
  width: 70vw;
  height: 2em;
  border: 0.1em solid #272727;
  border-radius: 0.1em;
  padding-left: 0.5em;
  font-weight: 600;
  font-family: 'Poppins','Courier New', Courier, monospace;
  font-size: 1em;
}

.contact form .form-table input:hover {
  border-color: #FEDA4E;
}

.contact form .form-table button {
  margin: .5em auto;
  background-color: #FEDA4E;
  border: none;
  color: #202020;
  width: 72vw;
  height: 2em;
  border-radius: 0.4em;
  font-weight: bold;
  font-family: 'Poppins','Courier New', Courier, monospace;
  font-size: 1.25em;
  text-transform: capitalize;
}

.contact form .form-table button:hover {
  cursor: pointer;
  color: white;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) {
  .home {
    margin-top: .3em;
    gap: 2.5em;
  }
  .home h1 {
    font-size: 2.5em;
  }
  .home .nav {
    margin-top: .6em;
    font-size: 1.1em;
  }
  .home .socials {
    margin-top: 2.5em;
  }
  .home .socials img {
    width: 1.6em;
  }
  .introduction img {
    width: 30%;
    height: 13em;
  }
  .whatido .whatido-cards .card {
    width: 38vw;
  }
  .about img {
    width: 45%;
  }
  .about .side p {
    line-height: 2em;
    text-align: justify;
  }
  .contact form .form-table button {
    height: 3em;
  }
}

@media only screen and (min-device-width: 770px) and (max-device-width: 960px) {
  .home {
    gap: 4em;
  }
  .home h1 {
    font-size: 2.5em;
  }
  .home .nav {
    margin-top: .6em;
    font-size: 1.1em;
  }
  .home .socials {
    margin-top: 2.5em;
  }
  .home .socials img {
    width: 1.6em;
  }
  .introduction img {
    width: 30%;
    height: 14em;
  }
  .whatido .whatido-cards .card {
    width: 38vw;
  }
  .whatido .whatido-cards .card h1 {
    font-size: 1.9em;
  }
  .whatido .whatido-cards .card p {
    font-size: 1em;
  }
  .about img {
    width: 45%;
  }
  .about .side {
    margin-left: 1em;
  }
  .about .side p {
    line-height: 2em;
    text-align: justify;
  }
  .about .side button {
    font-size: 1em;
    font-weight: bold;
    height: 3.5em;
    width: 9em;
  }
  .contact form .form-table button {
    font-size: 1.3em;
    height: 3em;
  }
}
/*# sourceMappingURL=style.css.map */